html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-image: url('./../images/jungle.jpg');
    background-size: cover;
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title {
    font-size: 48pt;
    text-shadow: 1rem white;
}

#playButton {
    color: white;
    background-color: #333333;
}