body {
  background-image: url('./../images/jungle.jpg');
  background-size: cover;
}

main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -1rem;
}

#title {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: #475c2b1a;
  padding: 1rem;
  border-radius: 8px;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--black);
}
