html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-image: url('./../images/leopard.jpg');
    backdrop-filter: blur(4px);
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF33;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 20px #FFFFFF33;
}

#title {
    font-size: 48pt;
    text-shadow: 1rem white;
}