:root {
  --white: #fefffe;
  --black: #252627;
  --black60: #161616;
  --brown: #934b00;
  --purple: #847996;
  --orange: #bb6b00;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: 36pt;
}

body {
  margin: 0;
}

button {
  color: var(--white);
  background-color: var(--brown);
  font-size: 18pt;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  transition: all 0.2s;

  &:hover:not(:disabled) {
    scale: 1.02;
    filter: brightness(130%);
  }

  &:active:not(:disabled) {
    scale: 0.98;
    filter: brightness(110%);
  }

  &:disabled {
    filter: opacity(0.7);
    cursor: not-allowed;
  }
}

select {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--brown);
  border-radius: 5px;
  padding: 2px;
}

input[type='text'] {
  color: var(--black);
  background-color: var(--white);
  border-radius: 5px;
  border: 2px solid var(--brown);
}

a {
  color: unset;
  text-decoration: underline dotted;

  transition: all 0.1s;

  &:hover {
    filter: brightness(200%);
  }

  &:active {
    filter: brightness(150%);
  }

  &:visited {
    color: var(--brown);
    text-decoration-color: var(--brown);
  }
}

#btnHome {
  position: absolute;
  top: 10px;
  left: 10px;
}
