html {
  font-size: 12pt;
}

body {
  height: 100vh;
  color: var(--white);
  background-color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -3rem;
}

h1 {
  line-height: 0.1rem;
}

#images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imgDiv {
  background-color: var(--black60);
  border: 5px solid var(--black60);
  border-bottom: 0px solid var(--black60);
  border-radius: 8px;
  margin: 1rem;
  transition: all 0.3s;

  &:active {
    margin: calc(1rem + 5px);
  }
}

img {
  filter: brightness(60%);
  z-index: 2;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.3s;
  background-image: url('./../images/spinner.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;

  &:hover {
    filter: brightness(100%);
  }

  &:active {
    width: 390px;
    height: 390px;
  }
}
