html {
  font-size: 16pt;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

ul {
  width: 30vw;
}

button {
  font-size: 12pt;
  padding: 0.3rem 0.5rem;
}

#btnHome {
  position: absolute;
  top: 10px;
  left: 10px;
}
