html {
  font-family: 'Manrope', sans-serif;
  font-size: 18pt;
}

body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
