html {
  font-size: 18pt;
  color: var(--white);
  background-image: url('./../images/savanna.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

#rules {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 3rem;
  padding: 1rem 3rem;
  border-radius: 5px;
}

#rules h1 {
  line-height: 0.5rem;
}

#rules p {
  text-align: center;
}

#rules h2 {
  line-height: 0.3rem;
}

#inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  backdrop-filter: blur(1px) brightness(90%);
  padding: 1rem 2rem;
  margin: -3rem;
}

#quizContainer {
  display: flex;
  font-size: 16pt;
  align-items: center;
  margin: 0rem;
}

select {
  font-size: 11pt;
}

#quiz {
  margin-left: 12px;
  height: fit-content;
}

#nameContainer {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

#nameField {
  width: 100%;
}

#note {
  margin: 0;
  font-size: 9pt;
  text-align: center;
}

button {
  background-color: var(--brown);
  color: var(--white);
}

input[type='text'] {
  font-size: 14pt;
}
