html {
  font-size: 16pt;
  background-color: var(--black);
  color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

button {
  background-color: var(--brown);
}

#selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--brown);
}

#selectContainer p {
  padding-right: 8px;
}

#listContainer {
  width: 20vw;
}

#leaderboard {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol {
  margin-top: 0rem;
  margin-left: -15px;
  list-style-type: decimal;
}

ol li {
  line-height: 0rem;
}

li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btnHome {
  position: absolute;
  top: 10px;
  left: 10px;
}
